<h1>Enter the pirate and ship details</h1>
<form action="/pirates" method="post">
  <p>Pirate Name: <input type="text" name="pirate[name]"></p>
  <p>Pirate Height: <input type="text" name="pirate[height]"></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
  <p>First Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>First Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>First Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <p>Second Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Second Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Second Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <input type="submit">
</form>
